// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2, section h1 {
    font-size: 1em;
}

.serif, body, #content .blog-index a[rel="full-article"] {
    font-size: 1em;
}

html {
    background: white;
}

body {
    color: #333;
    > nav {
        background: none;
        max-width: 50em;
        margin: 0 auto;
        
        a {
            text-shadow: none;
            font-family: "Advent Pro", serif;
            text-transform: uppercase;
        }
    }
    > div {
        background: none;
        border: none;
        > div {
            background: none;
            border: none;
            margin-right: 0;
        }
    }
}

footer {
    background: none;
    max-width: 50em;
    margin: 0 auto;
    text-shadow: none;
    
    .post-nav {
        padding: 1.1em 0 2em;
        border-bottom: 1px solid #cecece;
        
        h5 {
            font-size: 1em;
            font-weight: 400;
            margin-bottom: 4px;
            text-transform: uppercase;
            font-family: 'Noticia Text', serif;
            margin-top: 1em;
        }
        
        a {
            color: #cacaca;
            font-size: 1em;
            line-height: 1.2px;
            text-decoration: none;
            font-style: italic;

            &:hover {
                color: black;
            }
        }
    }
}

#content {
    margin-right: 0;
    max-width: 45em;
    margin: 0 auto;
}

article {
    header {
        p.meta {
            position: relative;
            text-align: center;
        }
        h1 {
            text-align: center;
            font-family: "Advent Pro", serif;
            font-size: 2.3em;
        }
    }
    .entry-content {
        /*-webkit-column-count: 2;*/
        -webkit-column-gap: 2em;
        
        img.featured {
            margin: 0 auto;
        }
    }
    h2 {
        font-size: 1.4em;
    }
}

.fb_edge_widget_with_comment {
    position: absolute;
}

a.comments_toggle {
    text-decoration: none;
    color: #333;
}

img.featured {
    display: block;
    margin: 0 auto;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
    font-size: 1em;
    padding: .75em 1.4em .75em 1em;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

blockquote::before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -0.95em;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
    color: #999;
}

blockquote p:last-child {
    margin-bottom: 0;
}

table.simple {
    margin-bottom: 1em;
}

table.simple tr td:first-child {
    text-align: right;
    padding-right: 1em;
}

table.simple tr td:first-child::after {
    content: ":"
}
